[submodule "third_party/d2net"]
	path = third_party/d2net
	url = https://github.com/mihaidusmanu/d2-net.git
[submodule "third_party/SuperGluePretrainedNetwork"]
	path = third_party/SuperGluePretrainedNetwork
	url = https://github.com/magicleap/SuperGluePretrainedNetwork.git
[submodule "third_party/deep-image-retrieval"]
	path = third_party/deep-image-retrieval
	url = https://github.com/naver/deep-image-retrieval.git
[submodule "third_party/r2d2"]
	path = third_party/r2d2
	url = https://github.com/naver/r2d2.git
[submodule "third_party/disk"]
	path = third_party/disk
	url = https://github.com/cvlab-epfl/disk.git
[submodule "third_party/SGMNet"]
	path = third_party/SGMNet
	url = https://github.com/vdvchen/SGMNet.git
[submodule "third_party/QuadTreeAttention"]
	path = third_party/QuadTreeAttention
	url = https://github.com/Tangshitao/QuadTreeAttention.git
[submodule "third_party/DKM"]
	path = third_party/DKM
	url = https://github.com/Parskatt/DKM.git
[submodule "third_party/DenseMatching"]
	path = third_party/DenseMatching
	url = https://github.com/PruneTruong/DenseMatching.git